<div class="site_holder">
  
  <nav class="top">
    <a href=""><img src="img/furniture/search.png" class="img_search"/></a>
    <a href="#/nav"><img src="img/furniture/grid.png" class="img_grid"/></a>
    <a href="#/"><img src="img/furniture/home.png" class="img_home" /></a>     


    <div class='container-fluid' ng-controller="TypeaheadCtrl">
    <span><input type="text" id="search" placeholder="Search" ng-model="selectedPerson" typeahead="person_search.id as person_search.name for person_search in people | filter:$viewValue | limitTo:12" typeahead-on-select="onSelect($item, $model, $label)" typeahead-min-length="1" ng-init="" /></span>
    </div>

    <h6 class="index"><a href="http://www.ColumbiaMissourian.com">A Missourian Project</a></h6>

  </nav>

<div class="about_body">

<h2 id="about_headline">100 AGES, A CENTURY OF VOICES: Behind the project</h2>

<div id="container" class="about_video">

      <div id="dummy"></div>
        <div id="element">   

            <iframe id="player" src="http://player.vimeo.com/video/67479405?api=1&amp;player_id=player&amp;wmode=opaque" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            
        </div>
    </div>

<p><span class="byline">By Alyssa Goodman &amp; Katie Alaimo</span></p>

<div class="mug"><img src="img/goodman_alyssa.jpg" /><span>Alyssa Goodman</span></div>

<p>Reflections were offered, aspirations were shared and personalities were revealed. Some broke into song, while others cried tears of joy or sorrow.</p>

<p>No two were alike, but it was the bond they shared as residents of Boone County that brought a century of voices together. Each offered a glimpse of the past, present and future of our community. It’s a capsule of our time and place.</p>

<div class="mug"><img src="img/alaimo_katie.jpg" /><span>Katie Alaimo</span></div>

<p>Over the past four months, they were asked to share anything they wanted on camera. One hundred videos were produced, 100 portraits were taken — one for each age, 1 to 100. Into the studio would come a 97-year-old, followed by a 9-year-old.</p>

<p>Residents from all over Boone County arrived at the studio with the understanding that they were representing their age. Most entered with a basic idea of how they wanted to articulate who they were at this point in their lives. Yet many walked in clueless of how much they would soon reveal — or even what they would learn about themselves in the process.</p>

<p>It ultimately gave them a chance to reflect on life — and to leave something behind of who they are and what they’ve learned.</p>

<p>The 36-year-old has told her story countless times. The story is even available in hardback and paperback at the local bookstore in the Boone County area. This time, however, she chokes up as she tries to get through the story of her dear friend suffering from cancer.</p>

<p>Moments later, a 90-year-old, who is sitting in the same seat, pauses to realize he’s telling war stories he’s had buried in his memory for some time. He gets serious as he describes what it was like to write letters to his friends' parents after seeing them brutally killed on the battlefield.</p>

<p>Later, a 23-year-old admits she didn’t even know where Missouri was on a map as she traveled halfway around the country from India. In a crowd of people, she is aware that she stands out due to the hijab she doesn’t leave home without. Yet, she too feels part of the community.</p>

<p>Little by little, the community grows closer together when we actually listen to one another. From these videos of your neighbors, you’ll find that life amounts to more than limited individual trajectories and experiences. Together they reveal how personal identity and the character of a place are intertwined.</p>

<p>We'd also like to thank the following people for their support during the project:</p>

<p>Brian Kratzer, Will Guldin, Erica Mendez Babcock, Laura Johnston, Elizabeth Conner, Alli Inglebright, Jason Redmond, Kholood Eid, Greg Kendall-Ball, Shaina Cavazos, Zach Murdock, Tatiana Fernandez, Andrew Wagaman, Ying Wu, Yi-Chin Lee, Edouard Janssens, Jennifer Crandall, Tom Warhover, Katie Artemas and Joy Mayer.</p>

<p><a id="supervising_tag" href="mailto:kratzerb@missouri.edu">Supervising editor is Brian Kratzer.</a></span></p>

<p><a href="http://www.columbiamissourian.com/a/163288/dear-reader-100-voices-tell-the-story-of-boone-county/" class="about_link">In a Dear Reader column, Columbia Missourian Executive Editor Tom Warhover reflects on the project.</a></p>

</div>

</div>
